<h1>All the Cats</h1>

<ul>
  <% @cat_rental_requests.each do |request| %>
   <a href = "/cat_rental_requests/<%=request.id%>"><%= request.id %></a>
   <br>
 <% end %>
    <!-- <%#= render @cats %> -->
</ul>
